AGENT__OPENAI_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
TELEGRAM__BOT_TOKEN=
TELEGRAM__ALLOWED_USER_ID=
TELEGRAM__WEBHOOK_SECRET=
NOTION_TOKEN=
NOTION_PROJECTS_DATABASE_ID=
NOTION_TASKS_DATABASE_ID=
NOTION_API_VERSION=
DATABASE_URL=
